body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #1E1E1E;
    font-size: 16px;
    background-color: #F9F6EA;
}

body::before {
    content: "";
    background-image: url('src/img/noise-background.png');
    background-blend-mode: plus-darker;

    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.1;

    z-index: -99;
}

h3 {
    font-family: "Azeret Mono";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

/* navbar styling */
nav {
    display: flex;
    padding: 2.5rem;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

nav span {
    color: #A9A79E;
    font-family: 'fraunces';
    font-size: 1.25rem;
    line-height: 100%; /* 1.25rem */
    text-transform: none;
    font-style: italic;
    font-variation-settings: "SOFT" 100, "WONK" 0, "opsz" 144, "wght" 320;
}

nav ul {
    display: flex;
    align-items: baseline;
    gap: 3rem;
}

nav li, nav button {
    font-family: "Azeret Mono";
    font-size: 0.875rem;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

nav a:hover,
nav button:hover {
    color: #027354;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

nav button {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* hero styling */
.hero {
    padding: 7rem 3rem 9rem 3rem;
}

.hero span {
    font-family: 'hellovetica';
    font-size: 2.125rem;
    line-height: normal;
    letter-spacing: -0.10625rem;
    font-style: normal;

    margin: 0 0.5rem;
}

.hero h1 {
    font-family: 'fraunces';
    font-size: 4rem;
    font-style: italic;
    font-weight: 320;
    line-height: normal;
    font-variation-settings: "SOFT" 100, "WONK" 0, "opsz" 144, "wght" 320;
    text-align: center;
}


/* posts styling */
.posts {
    display: flex;
    align-items: flex-start;
    gap: 8px;

    min-width: 1360px;
    max-width: 1360px;
    width: 100%;
    padding: 0 32px;

    transform-origin: top;
}

.posts .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1;

    width: 100%;
}

.posts .col.horizontal {
    flex-direction: row;
}

.posts .post {
    background-size: cover;
    border-radius: 64px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    position: relative;

    aspect-ratio: 1/1;
    overflow: hidden;

    cursor: pointer;
}

.posts .post .tags {
    display: flex;
    padding: 40px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    
    color: white;
    mix-blend-mode: difference;
}

.posts .post .tags .content-type {
    position: relative;
    left: 30px;
}

.posts .post .tags .content-type:before {
    content: url('src/img/circle.svg');
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-40%);
}

.posts .post .tags.pixelated {
    font-family: Hellovetica;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
}

.posts .post .tags.mono {
    font-family: "Azeret Mono";
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%; /* 26.4px */
    letter-spacing: -0.44px;
}

.posts .post .header-container {
    display: flex;
    padding: 40px 40px 48px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;

    color: white;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
}

.posts .post .header-container > * {
    align-self: stretch;
}

.posts .post .header-container.pixelated {
    text-align: center;
    font-family: 'hellovetica';
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: -0.1875rem;
}

#post1 {
    background-image: url('src/img/nvidia.webp');
}

#feature1 {
    background-image: url('src/img/feature1.svg');
    
    justify-content: start;
    padding: 5rem 5.5rem 5.5rem 5rem;
    gap: 2.25rem;

    position: relative;
}

#feature1 h2 {
    color: #FFF;
    font-family: 'fraunces';
    font-size: 6rem;
    font-style: italic;
    line-height: 80%; /* 4.8rem */

    font-variation-settings: "SOFT" 100, "WONK" 0, "opsz" 144, "wght" 300;
}

#feature1 p {
    color: #FFF;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.575rem */
    letter-spacing: -0.01625rem;
}

#feature1 > span {
    position: absolute;
    bottom: 5.5rem;
    right: 5.5rem;

    color: #00FEB5;
    font-family: 'fraunces';
    font-size: 26.136rem;
    font-style: italic;
    line-height: 12rem; 
    letter-spacing: -0.52275rem;

    font-variation-settings: "SOFT" 100, "WONK" 0, "opsz" 144, "wght" 100;
}

#feature1 > span > span {
    font-size: 12.342rem;
    font-style: italic;
    font-weight: 300;
    letter-spacing: -0.24681rem;

    font-variation-settings: "SOFT" 100, "WONK" 0, "opsz" 144, "wght" 300;
}

#post1 h2 span {
    font-family: 'hellovetica';
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.20625rem;

    display: block;
    margin-bottom: -0.375rem;
}

#post1 h2 {
    font-family: 'fraunces';
    font-size: 3rem;
    font-style: italic;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: -0.06rem;
}

#post2 {
    background-image: url('src/img/glean.webp');
}

#post3_wrapper::before {
    content: '';
    display: block;
    padding-top: 88.66%;
}

#post3_wrapper {
    border-radius: 64px;
    overflow: hidden;
}

.video-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

#post3 {
    background: none;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;

    aspect-ratio: 644/571;
}

#post3 .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    gap: -0.5rem;
    display: block;

    color: #FFA100;
    mix-blend-mode: difference;

    text-align: center;
    font-family: 'hellovetica';
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 4.86rem */
    letter-spacing: -0.27rem;
}

#post3 .header h2:last-child {
    font-family: 'fraunces';
    font-size: 4.41rem;
    font-style: italic;
    font-weight: 400;
    line-height: 120%; /* 5.292rem */
    letter-spacing: -0.08819rem;

    margin-top: -0.5rem;
}

#post3 .header-container {
    text-align: center;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 140%; /* 1.575rem */
    letter-spacing: -0.01625rem;
}

#post4 {
    background-image: url('src/img/sun.png');
}

#post4 .tags {
    color: #FEAC04;
    mix-blend-mode: difference;
}

#post4 .header-container {
    text-align: center;
    font-family: Fraunces;
    font-size: 3.5625rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 3.91875rem */
    letter-spacing: -0.1425rem;
}

#pill {
    border-radius: 999px;
    background-color: #000;

    justify-content: center;
    align-items: flex-end;
    align-self: stretch;
    aspect-ratio: 2/1;
}

#pill h2 {
    color: #FFF;
    text-align: center;
    font-family: "Azeret Mono";
    font-size: 150px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 270px */
    letter-spacing: -15px;

    align-self: stretch;
}

#feature2 {
    background-color: #1D8AC4;
    background-image: url('src/img/feature2.png');
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    align-self: stretch;
}

#feature2 .header-container {
    background: none;
    padding: 3.5rem;
}

#feature2 h2:first-child {
    color: #FFF;
    font-family: 'hellovetica';
    font-size: 3.08494rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.33931rem;

    display: block;
    margin-bottom: -1.02831rem;
}

#feature2 h2 {
    color: #85CCFB;
    font-family: 'fraunces';
    font-size: 4rem;
    font-style: italic;
    font-weight: 320;
    line-height: normal;

    font-variation-settings: "SOFT" 100, "WONK" 0, "opsz" 144, "wght" 320;
}

#feature3 {
    position: relative;
    background: none;
}

#feature3 > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -49%);
}

#feature3 video {
    border-radius: 100%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -48%) rotate(-90deg);
}

#feature3 .background {
    transform: scale(1.01) translate(-50%, -49%);
}

#feature3 .noise {
    mix-blend-mode: color-dodge;
    opacity: 0.6;
}

#post5 {
    background-image: url('src/img/retool-ink.webp');
}

#post6_wrapper {
    overflow: hidden;
    border-radius: 64px;
}

#post6_wrapper video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translateX(-50%) translateY(-50%);
    z-index: -1;
}

#post6 {
    background: none;
}

#post6 .header-container {
    position: absolute;
    width: 100%;
    padding: 7rem 2.5rem;
    top: 50%; 
    transform: translateY(-50%);

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.66) 25%, rgba(0, 0, 0, 0.80) 50%, rgba(0, 0, 0, 0.66) 75%, rgba(0, 0, 0, 0.00) 100%);
}

#post6 h2 span {
    font-family: 'hellovetica';
    font-size: 1.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.20625rem;

    display: block;
    margin-bottom: -0.375rem;
}

#post6 h2 {
    font-family: 'fraunces';
    font-size: 3.0625rem;
    font-style: italic;
    font-weight: 400;
    line-height: 120%; /* 3.675rem */
    letter-spacing: -0.06125rem;
}

#post7 {
    background-image: url('src/img/christina.webp');
    flex: 1 0 0;
}

#post7 .tags {
    font-size: 1rem;
    line-height: 120%; /* 1.2rem */
    letter-spacing: -0.02rem;

    padding: 2rem;
}

#post7 .header-container {
    padding: 2rem;
}

#post7 h2 {
    font-size: 1.375rem;
    font-style: italic;
    font-weight: 400;
    line-height: 120%; /* 1.65rem */
    letter-spacing: -0.0275rem;
}

#post8 {
    background-color: #FFF;
    position: relative;
    align-items: center;
    justify-content: center;
    flex: 1 0 0;
}

#post8::before {
    content: '';
    width: 65%;
    height: 65%;
    border-radius: 100%;
    background-color: #000;
    position: absolute;
}

#post8 h2 {
    text-align: center;
    color: #FFA100;
    font-family: 'hellovetica';
    font-size: 1.67269rem;
    font-style: normal;
    font-weight: 400;
    line-height: 240%;
    letter-spacing: -0.16725rem;

    mix-blend-mode: difference;
}

#post8 span {
    color: #FFA100;
    text-align: center;
    font-family: 'fraunces';
    font-size: 2.73206rem;
    font-style: normal;
    font-weight: 300;
    line-height: 120%; /* 3.2785rem */
    letter-spacing: -0.05463rem;
    text-transform: uppercase;
}

#feature4 {
    background-color: #FAA6BF;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

#feature4::before, #feature4::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    top: 50%; /* Position the top edge at 50% of the container's height */
    left: 50%; /* Position the left edge at 50% of the container's width */
    transform: translate(-50%, -50%);

} 

#feature4::before {
    background-image: url('src/img/outer.svg');
    width: 94.7%;
    height: 94.7%;
    animation: spin-clockwise 30s linear infinite;
}

#feature4::after {
    background-image: url('src/img/inner.svg');
    width: 77%;
    height: 77%;
    animation: spin-counterclockwise 30s linear infinite;
}

@keyframes spin-clockwise {
    from {
        transform: translate(-50%, -50%) rotate(0deg); /* Start rotation at 0 degrees */
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg); /* End rotation at 360 degrees */        
    }
}

@keyframes spin-counterclockwise {
    from {
        transform: translate(-50%, -50%) rotate(0deg); /* Start rotation at 0 degrees */
    }
    to {
        transform: translate(-50%, -50%) rotate(-360deg); /* End rotation at 360 degrees */
    }
}

#feature4 h2 {
    color: #FFF;
    text-align: center;
    font-family: 'fraunces';
    font-size: 5.254rem;
    font-style: italic;
    font-weight: 300;
    line-height: 80%; /* 4.20319rem */
    z-index: 99;

    font-variation-settings: "SOFT" 100, "WONK" 0, "opsz" 144, "wght" 300;
}

#feature4 span {
    color: #F4084F;
    font-family: 'hellovetica';
    font-size: 2.6485rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.29131rem;
}

#feature4 img {
    mix-blend-mode: color-dodge;
    opacity: 0.6;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

/* email section styling */
.mail {
    display: flex;
    padding: 9rem 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.letter-wrapper {
    display: flex;
    padding: 0.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;

    border-radius: 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.10);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.10), 0px 12px 24px 0px rgba(0, 0, 0, 0.10);

    background: repeating-linear-gradient(
        -45deg,
        #CE0037,
        #CE0037 10px,
        #FFF 10px,
        #FFF 20px,
        #027354 20px,
        #027354 30px,
        #FFF 30px,
        #FFF 40px
    );
    background-size: 100%;
    background-clip: padding-box;
}

.letter {
    display: flex;
    padding: 3.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4rem;
    position: relative;

    border-radius: 0.375rem;
    border: 1px solid rgba(0, 0, 0, 0.05);
    background: #FFF;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.03), 0px 12px 24px 0px rgba(0, 0, 0, 0.03);
}

.letter h2 {
    font-family: 'fraunces';
    font-size: 4rem;
    font-style: italic;
    line-height: 100%; /* 4rem */
    font-variation-settings: "SOFT" 100, "WONK" 0, "opsz" 144, "wght" 320;
}

.letter h2 span {
    font-family: 'hellovetica';
    font-size: 2.125rem;
    line-height: normal;
    letter-spacing: -0.10625rem;
    font-style: normal;

    margin: 0 0.5rem;
}

.letter form {
    display: flex;
    width: 56.25rem;
    padding: 1.75rem 0rem 1.75rem 0.625rem;
    align-items: center;
    gap: 1rem;

    border-bottom: 2px solid rgba(30, 30, 30, 0.20);

    overflow: visible;
}

.letter form:focus-within {
    border-bottom: 3px solid #027354;;
}

.letter input[type="email"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;

    flex: 1 0 0;
    overflow: visible;

    font-family: 'fraunces';
    font-size: 4rem;
    font-style: italic;
    line-height: 100%; /* 4rem */
    font-variation-settings: "SOFT" 100, "WONK" 0, "opsz" 144, "wght" 320;
}

.letter input[type="email"]::placeholder {
    color: #D2D2D2;
    overflow: visible;
}

.letter form button {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;

    font-family: 'fraunces';
    font-size: 4rem;
    font-style: italic;
    line-height: 100%; /* 4rem */
    font-variation-settings: "SOFT" 100, "WONK" 0, "opsz" 144, "wght" 320;
}

.letter from img {
    width: 2.82469rem;
    height: 1.772rem;
}

.letter .stamp {
    position: absolute;
    right: 2.5rem;
    top: 2.5rem;

    width: 16rem;
}


/* footer styling */
footer {
    display: flex;
    padding: 64px;
    flex-direction: column;
    align-items: flex-start;
    gap: 64px;
    width: 100%;
    
    font-family: "Azeret Mono";
    color: #64CDA5;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;

    background: #027354;
}

footer h3 {
    color: #00FDBD;
}

footer .cols {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

footer .col ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
}

/* footer motion switch styling */
.motion-switch .switch {
    position: relative;
    display: inline-block;
    width: 136px;
    height: 30px;
}

.motion-switch .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.motion-switch .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #442321;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08) inset, 0px 1px 1px 0px rgba(0, 0, 0, 0.04) inset, 0px 0.5px 0.5px 0px rgba(0, 0, 0, 0.08) inset;
}

.motion-switch .slider:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: #F9C0BA;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.08), 0px 1px 1px 0px rgba(0, 0, 0, 0.04), 0px 5px 9px -2px rgba(0, 0, 0, 0.23), 0px -4px 2px 0px rgba(0, 0, 0, 0.09) inset, 0px -1px 2px 0px rgba(0, 0, 0, 0.29) inset;
    -webkit-transition: .4s;
    transition: .4s;
    z-index: 999;
}

.motion-switch input:checked + .slider {
    background: #003726;
}

.motion-switch input:checked + .slider:before {
    background-color: #4EF0BA;
}

.motion-switch input:focus + .slider {
    box-shadow: 0 0 1px #003726;
}

.motion-switch input:checked + .slider:before {
    -webkit-transform: translateX(6.63rem);
    -ms-transform: translateX(6.63rem);
    transform: translateX(6.63rem);
}

/* Rounded sliders */
.motion-switch .slider.round {
    border-radius: 34px;
}

.motion-switch .slider.round:before {
    border-radius: 50%;
}

.motion-switch .switch .switch-text-off,
.motion-switch .switch .switch-text-on {
    font-family: "hellovetica";
    font-size: 12px;
    line-height: 100%;
    letter-spacing: -0.6px;
    text-transform: lowercase;
    white-space: nowrap;

    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    width: 100%;

    -webkit-transition: .4s;
    transition: .4s;
}

.motion-switch .switch .switch-text-off {
    right: 0;
}

.motion-switch .switch .switch-text-on {
    left: 0;
}

.motion-switch .switch .switch-text-on.inactive,
.motion-switch .switch .switch-text-off.inactive {
    width: 0;
}

.motion-switch .switch-text-off span {
    position: absolute;
    right: 16px;
    bottom: 8px;

    color: #F69891;
}

.motion-switch .switch-text-on span {
    position: absolute;
    left: 16px;
    bottom: 8px;

    color: #64CDA5;
}


/* media querries */

@media(max-width: 1104px) {
    nav {
        justify-content: space-around;
    }
    
    nav ul {
        display: none;
    }

    .hero {
        padding: 4rem;
    }

    .hero h1 {
        font-size: 3rem;
    }

    .hero span {
        font-size: 1.5rem;
    }

    .mail {
        width: 100%;
        padding: 32px;
    }

    .letter-wrapper {
        width: 100%;
        height: auto;
    }

    .letter {
        width: 100%;
        padding: 2rem;
        gap: 64px;
    }

    .letter form, .letter input {
        width: 100%;
    }

    .letter .stamp {
        display: none;
    }
}

@media (max-width: 960px) {
    .posts {
        flex-direction: column; /* Change flex direction to column when width is smaller than 600px */
        transform: scale(1);
        max-width: auto;
        min-width: auto;
    }

    .posts .col.horizontal {
        flex-direction: column;
    }

    .posts > .col {
        flex: 1
    }

    footer .cols {
        flex-wrap: wrap;
    }
     
    footer .col {
        min-width: 300px;
        margin-bottom: 48px;
    }
}

@media (max-width: 730px) {

    .hero {
        padding: 3rem 1rem 5rem 1rem;
    }

    .posts {
        padding: 0 1rem;
    }

    .posts .post {
        border-radius: 32px;
    }

    .posts .post .tags {
        padding: 1.5rem;
        font-size: 0.8rem;
    }
    
    .posts .post .header-container {
        padding: 1.5rem;
    }

    .posts .post .header-container.pixelated h2 {
        font-size: 1.2rem;
        line-height: 160%;
    }

    .posts .post h2 {
        font-size: 3rem;
    }

    #post1 .header-container h2,
    #post6 .header-container h2 {
        font-size: 2rem;
    }

    #post1 .header-container span,
    #post6 .header-container span {
        font-size: 1.3rem;
    }

    #post3 {
        aspect-ratio: 1/1;
    }

    #post3 .header h2:first-child {
        font-size: 2rem;
        margin-bottom: -1rem;
    }

    #post3 .header h2:last-child {
        font-size: 3rem;
    }

    #post4 .header-container h2 {
        font-size: 2.5rem;
        line-height: 120%;
    }

    #pill h2 {
        font-size: 8rem;
    }

    #post6 .header-container {
        padding: 2rem;
    }

    #feature1 {
        padding: 3rem;
    }

    #feature1 {
        gap: 1rem;
    }

    #feature1 h2 {
        font-size: 4rem;
    }

    #feature1 p {
        width: 65%;
        font-size: 1rem;
    }

    #feature1 p br {
        display: none;
    }

    #feature1 span {
        transform: scale(0.35);
        transform-origin: bottom right;
        bottom: 3rem;
        right: 3rem;
    }

    #feature2 .header-container {
        padding: 2rem;
    }

    #feature2 .header-container h2 {
        font-size: 2.5rem;
        line-height: 100%;
    }

    #feature2 .header-container h2:first-child {
        font-size: 1.5rem;
        line-height: 200%;
        letter-spacing: -0.1rem;
    }

    #feature3 .text {
        height: 90%;
    }

    #feature4 h2 {
        transform: scale(0.7);
        transform-origin: center center;
    }

    .mail {
        padding: 64px 16px;
    }

    .letter {
        gap: 48px;
    }
    
    .letter h2 {
        width: 100%;
        transform-origin: left center;
        height: auto;
        
        font-size: 2rem;
    }

    .letter h2 span {
        font-size: 1rem;
    }

    .letter br {
        display: none;
    }

    .letter form {
        padding: 0;
    }

    .letter form input[type="email"] {
        font-size: 3rem;
    }
    
    .letter form button {
        font-size: 0;
    }

    footer {
        padding: 32px;
    }

    footer .cols {
        flex-direction: column;
    }
}
